
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Dungeon Cast Editor</title>

        <!-- Bootstrap core CSS -->
        <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="magicsuggest-min.css" rel="stylesheet">

        <style type="text/css">
            body{
                font-family:"Avenir";
                margin: 30px;
                /*background-color:#8A8A8A;    */
            }
            
            div{
                margin: 0;
            }

            .h-divider{
                margin-top:15px;
                margin-bottom:15px;
                height:1px;
                width:100%;
            }

            .l-indent{
                margin:15px;
                padding:15px;
                background-color: #FAFAFA;
            }

            .l-indent-2{
                margin:35px;
                padding:10px;
                background-color: #EAEAEE;                
            }

            .divider-vertical {
                height: 40px;
                margin: 0 9px;
                border-left: 1px solid #0A0A0A;
                border-right: 1px solid #EAEAEA;
            }

        </style>
        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    </head>


    <body>

        <div class="container">
        <div id="cast-table" class="col-md-12">
            <div v-for="(cast, index) of casts" class="form-group-sm">
                <cast @cast_removal="casts.splice(index, 1)" :cast='cast'></cast>
            </div>
        </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script>window.jQuery || document.write('<script src="bower_components/jquery/dist/jquery.min.js"><\/script>')</script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="vue.js"></script>

        <script type="text/javascript">

        $.postJSON = function(url, data, callback) {
            return jQuery.ajax({
                headers: { 
                    'Accept': 'application/json',
                    'Content-Type': 'application/json' 
                },
                'type': 'POST',
                'url': url,
                'data': JSON.stringify(data),
                'dataType': 'json',
                'success': callback
            });
        };

        Vue.component('vinput', {

            data: function(){
                return {
                    _value : this.value
                }
            },

            created : function(){
                this._value = this.value;
            },

            props:['name', 'value_type', 'value'],
            template:'<div><input @keyup.enter="submit" v-model=_value class="form-control" /> <label>{{name}}</label></div>',

            methods: {

                submit : function(event){
                    var finalValue = 0;
                    switch(this.value_type){
                        case "int" :
                            finalValue = parseInt(this._value);
                            break;
                        case "float" :
                            finalValue = parseFloat(this._value);
                            break;
                        default : 
                            finalValue = this._value;
                    }

                    console.log(finalValue);

                    this.$emit('submit', finalValue);
                }
            }
        });

        Vue.component('range', {

            data : function(){
                return {
                    temp_range : {min: 0, max : 0},
                    temp_val : 0,
                    _range : null
                }
            },

            created: function(){
                this._range = this.range;

           },

            props: ['range'],
            template :  '<div class="form-group-sm col-sm-2">'+
                         
                        '<div v-if=range_type(_range.type)>'+
                        '<vinput :name="value_name()" @submit="subval" :value=_range.value value_type="float"></vinput></div>'+
                        '<div v-else><vinput name="下限" @submit="submin" :value=_range.value.min value_type="float">'+
                        '</vinput><vinput name="上限" @submit=submax :value=_range.value.max value_type="float"></vinput></div></div>',

            watch : {
                range : {
                    handler: function(r){
                        if(r.type == "range"){
                            this._range.value = this.temp_range;
                        } else {
                            this._range.value = this.temp_val;
                        }
                    },
                    deep : true
                }
            },

            methods: {
                value_name : function(){
                    return "值设为了" + this._range.value;
                },

                range_type : function(type) {
                    return type == "value";
                },

                subval : function(val){
                    this.temp_val = val;
                    this._range.value = this.temp_val;
                },

                submin : function(min){
                    this.temp_range.min = min;
                    this._range.value = this.temp_range;
                },

                submax : function(max){
                    this.temp_range.max = max;
                    this._range.value = this.temp_range;
                }
            }
        })

        Vue.component('ref_attr', {
            data : function(){
                return {

                    _ref_attr : null,
            
                    state_options : ['hp', 'rem_moves'],
                    attr_options : ['attack_disabled', 'cast_disabled', 'armor', 'hit', 'critical', 'dodge', 'resist', 'block', 'agility']
                }
            },

            created : function(){
                this._ref_attr = this.ref_attr;
            },

            props: ['referred'],
            template : '<div><div class="form-group-sm col-sm-2">'+
                        '<select class="form-control" v-model="referred.attr_type">'+
                            '<option>attr</option><option>state</option>'+
                        '</select>'+
                        
                        '<label>技能影响类型</label>' +

                        '<select v-if="check_type(referred.attr_type)" class="form-control" v-model="referred.attr">'+
                            '<option v-for="attr_option in attr_options">{{ attr_option }}<option>' +
                        '</select>'+
                         '<select v-else class="form-control" v-model="referred.attr">'+
                            '<option v-for="state_option in state_options">{{ state_option }}<option>' +
                        '</select>'+
                         
                        '<label>影响属性</label>' +

                        '<select class="form-control" v-model="referred.role">'+
                            '<option>off</option><option>def</option>' +
                        '</select><label>影响对象</label>' +
                   '</div>',

            methods: {
                check_type : function(val) {
                    return val == "attr";
                }
            }
        })

        Vue.component('ref', {
            data : function(){
                return {
                    _ref : null,

                    backup_ref : {"type" : "ref", "attr_type" : "state", "attr": "hp", "role" : "off"},

                    backup_range : {"type" : "range", "min" : 0, "max" : 100},

                    backup_value : {"type" : "value"}
                }
            },       
    
            created : function(){
                this._ref = this.ref;
            },

            props: ['referred'],

            template : '<div>' +
                            '<div v-if="is_ref(referred.type)">' +
                                '<ref_attr :referred=referred></ref>'
                            '</div>'+

                            '<div v-if="is_range(referred.type)">' +
                                '<range :range=referred></range>'
                            '</div>'+

                            '<div v-if="is_value(referred.type)">' +
                                '<vinput :value=referred :name="值"></ref>'
                            '</div>'+

                        '</div>'

            methods: {
                is_range: function(type) {
                    return type == "range";
                },

                is_ref : function(type) {
                    return type == "ref";
                },

                is_value : function(type) {
                    return type == "value";
                }
            }
        
        })

        Vue.component('cond', {
            data: function(){
                return{ 
                    _cond : null,
                    stages : ['casting', 'settling', 'attacking']
                }
            },

            created : function(){
                this._cond = this.cond;
            },

            props:['cond'],
            template :  '<div class="form-group-sm col-sm-2"><vinput value_type="int" @submit=substart :name="round_start()" :value="_cond.start"></vinput>' + 
                        '<vinput @submit=sublasts value_type="int" :name="round_lasts()" :value="_cond.last_for"></vinput>' + 
                        '<select v-model="_cond.stage" class="form-control">' +
                            '<option v-for="stage in stages">{{stage}}</option>'+
                        '</select><label>阶段</label></div>',
            methods: {

                substart : function (val){
                    this._cond.start = val;
                },

                sublasts : function (val) {
                    this._cond.last_for = val;
                },

                round_start : function(){
                    var res;
                    switch(this._cond.start){
                        case 0:
                            res = "本回合开始"; break;
                        default :
                            res = "本回合后" + this._cond.start + "回合开始";
                    }
                    return res;
                },

                round_lasts : function () {
                    return "持续" + this.cond.last_for + "回合";
                }
            }
        })

        Vue.component('operand', {
            data: function(){
                return {
                    _operand : null
                };
            },

            created: function(){
                this._operand = this.operand;
            },

            props : ['operand'],

            template : '<div>' +
                        '<>'
                        '</div>'
        })

        Vue.component('operation', {
            data : function(){
                return {

                    _operation : null,

                    temp_range : {"type": "range", "min": 0, "max":0},

                    temp_role : {"what":"attr", "whom":"of_opponent", "attr":"resist"},
                    
                    opcodes : ['set', 'add', 'add_mul', 'add_inc_mul']
                    
                }
            },

            created : function(){

                this._operand = this.operand;

            },

            props : ['operator'],
                    template : '<div>{{operator}}'+
                       '<div class="form-group-sm col-sm-2">' + 
                       '<select class="form-control" v-model="operator.opcode">'+
                       '<option v-for="opcode of opcodes">{{opcode}}</option>'+
                       '</select>'+




                       '</div>'+
                 '</div>',

            methods : {
            },

            watch : {
            }
        })

        Vue.component('trans', {
            data : function(){
                return {
                    _trans : null
                };
            },

            created : function () {
                this._trans = this.trans;
            },

            props: ['trans'],
            template : '<div>' +
                        
                        '<operation :operator=_trans.operator></operation>' +
                        '<ref_attr :referred="trans.to_whom"></ref_attr>' +
                        '</div>',
            methods: {
            }
        })

        Vue .component('effect', {
            data : function(){
                return {
                    _effect : null
                }
            },

            created : function(){
                this._effect = this.effect;
            },

            props : ['effect', 'effect_name'],

            template : '<div class="row">' +
                            '<div class="form-group-sm col-sm-2">' +
                            '<vinput @submit="change_name" name="效果名" :value="_effect.name" ></vinput> ' +
                            '</div>' +
                            //'<cond :cond="_effect.round_cond"> </cond>'+
                            '<div v-for ="trans of _effect.trans_list">' +
                                '<trans :trans=trans></trans>' + 
                            '</div>' +
                            '<div class="form-group-sm col-sm-2">' +
                             '<button @click="remove" class="btn btn-sm btn-primary">删此效果</button>' +
                            '</div>'+
                            '<div class="h-divider"></div>' +
                        '</div>',

            methods: {
                change_name : function(name){
                    this._effect.name = name;
                },

                remove : function(event){
                    this.$emit('remove_eff');
                }
            },

            watch : {
                effect_name : function(new_eff_name){
                    console.log("name changed");
                    this._effect.name = new_eff_name;
                }
            }
        })


        Vue.component('group', {
            data : function(){
                return {
                    _cast_name : null,
                    _group : null
                };
            },

            created : function(){
                this._cast_name = this.cast_name;
                this._group = this.group;
            },

            props : ['group', 'cast_name'],

            template : '<div>' +

                        '<div class="form-group-sm col-sm-2">' +
                            '<vinput @submit="change_prob" name="技能概率" :value="_group.prob" value_type="float"></vinput>' +
                        '</div>' +

                        '<button class="btn btn-sm btn-primary">删此分组</button>' +
                        '<div class="l-indent-2">' +
                            '<div v-for="effect of _group.effects">' +
                                '<effect @remove_eff:="remove_effect" :effect="effect" :effect_name="_cast_name"></effect>' +
                            '</div>' +
                        '</div>' +
                        '</div>',

            methods: {
                change_prob : function(prob) {
                    this._group.prob = prob;
                },

                remove_effect : function () {
                    console.log("asd");
                }
            }
        });


        Vue.component('cast', {
            data : function(){
                return {
                    _cast : null,
                    class_options : ['warrior', 'rogue', 'mage', 'hunter', 'general']
                }
            },

            created : function(){
                console.log(this.cast.name);
                this._cast = this.cast;
            },

            props : ['cast'],

            template :  '<div>' +
                        '<div class="row">' +
                            '<div class=" h-divider"> </div>' +
                            '<div class="form-group-sm col-sm-12"><h1>{{uppercase(_cast.name)}}</h1></div>' +
                            '<div class=" h-divider"> </div>' +
                            
                            '<div class="form-group-sm col-sm-2">' +
                                '<vinput @submit=subname name="技能名称" :value= "_cast.name" ></vinput>' +
                            '</div>' +

                            '<div class="form-group-sm col-md-2">'+
                            '<select v-model="_cast.class" class="form-control">'+
                                '<option v-for="type_option in class_options">{{type_option}}</option>'+
                            '</select><label>职业类型</label></div>'+
                        
                            '<div class="form-group-sm col-sm-1">' +
                            '<button @click="remove_cast_req" class="btn btn-sm btn-warning">删除</button></div>' +
                            '<div class="form-group-sm col-md-1">' +
                            '<button @click=send class="btn btn-sm btn-success">保存</button></div>' +
                        '</div>' +
                        
                        '<div class="l-indent" >' +
                            '<div v-for="group of _cast.effect_prob_group_list">' +
                                '<group :group="group" :name="_cast.name"></group>' +
                            '</div>' +
                        '</div></div>',

            methods: {
                subname : function(name){
                    this._cast.name = name;
                },

                uppercase : function(name){
                    return name.split("_").map( function(w){
                        return w.replace(/^./, function(c){
                            return c.toUpperCase()
                        });
                    }).join(" ");
                },

                send : function(){

                    var casts_json = JSON.stringify(this.cast);

                    console.log(casts_json);

                    $.postJSON("/post_casts", casts_json, function(data){
                        console.log("done");
                    }).fail(function(error){
                        console.log("error "+error);
                    });
                },

                remove_cast_req: function(){
                    var casts_json = JSON.stringify(this.cast);

                    console.log(casts_json);

                    $.postJSON("/remove_cast", casts_json, function(data){
                        console.log("done");
                    }).fail(function(error){
                        console.log("error "+error);
                    });

                    this.$emit('cast_removal');

                }
             }

        })

        var cast_edit = new Vue({
            el: '#cast-table',
            data: { casts:[] },

            created: function(){
                self = this;

                $.get("/get_casts", function(data){
                    console.log(data);
                    self.casts = data;
                }).fail(function(error){
                    self.casts = [{name: error}]
                });

            },

            methods: {
                remove_cast : function(index){
                    console.log("executed removal");
                    // this.;
                }
            }
        });

        </script>
        </body>
    </html>

