{erl_opts, [debug_info, {native, o3}]}.
{deps, [
        {cowboy, {git, "https://github.com/ninenines/cowboy.git", "master"}},
        {jiffy, {git, "https://github.com/davisp/jiffy.git", "master"}},
        {epgsql,	".*",	{git, "git://github.com/epgsql/epgsql.git",	{branch, "devel"}}},
        {uuid, "1.5.4", {pkg, uuid_erl}}
       ]}.

{ plugins, [
            rebar3_hex,
            {pc, {git, "https://github.com/blt/port_compiler", "master"}}
           ]}.

{provider_hooks, [
                  {pre, [
                         {compile, {pc, compile}},
                         {clean, {pc, clean}}
                        ]}
                 ]}.
